html {
    background-color: #000000;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.9500000000000001px, #000000 0.9500000000000001px);
    background-size: 19px 19px;
    font-family: 'Roboto Mono', monospace !important;
    margin: 0 10vw 0 10vw;
}


h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace !important;
    font-size: 3em;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    height: 40%;
    border-radius: 50%;
  }



p {
    font-size: 170%;
    font-family: 'Roboto Mono', monospace !important;
    color: white;
}




